@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 80 8.8% 95.9%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 1, 84%, 50%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    --radius: 0.8rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --card: 30 30.3% 5.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 1, 84%, 50%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    --header-height: 4rem;
    --container-height: calc(89vh - var(--header-height));
  }
}

.pretty-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
.pretty-scrollbar::-webkit-scrollbar-track {
  background: hsl(var(--background));
  border-radius: 0 1.5rem 1.5rem 0;
  margin-top: 2px;
}

/* Handle */
.pretty-scrollbar::-webkit-scrollbar-thumb {
  background: #8d8d8d;
}

/* Handle on hover */
.pretty-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.bg-main{
  background-color: #e71615;
}
.text-main{
  color: #000;
}

table {
  page-break-inside: auto;
}

tr {
  page-break-inside: avoid;
  page-break-after: auto;
}

thead {
  display: table-header-group; /* Ensures the table header repeats on each page */
}

tbody {
  display: table-row-group;
}

/* 
.invoice-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
} */

.invoice-table th,
.invoice-table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

.invoice-table th {
  background-color: #f4f4f4;
}

.invoice-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.invoice-table tr:hover {
  background-color: #f1f1f1;
}

.input-field {
  /* width: 100%; */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.total-column {
  text-align: right;
}

.add-item-btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.add-item-btn:hover {
  background-color: #45a049;
}

.remove-btn {
  background-color: transparent;
  border: none;
  color: red;
  font-size: 20px;
  cursor: pointer;
}

.remove-btn:hover {
  color: darkred;
}

.total-amount {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  margin-top: 20px;
}
